/* Colors */
:root {
    --bs-black:#000000;
    --bs-blue:#0d6efd;
    --bs-indigo:#6610f2;
    --bs-purple:#6f42c1;
    --bs-pink:#e91e63;
    --bs-red:#f74848;
    --bs-orange:#fd7e14;
    --bs-orange-dark:#ee4a34;
    --bs-orange-dark-light:#fae4df;
    --bs-yellow:#f5a416;
    --bs-green:#4caf50;
    --bs-teal:#20c997;
    --bs-cyan:#17a2b8;
    --bs-white:#ffffff;
    --bs-gray:#eeeeee;
    --bs-gray-light: #ebeced;
    --bs-gray-dark:#979797;
    --bs-primary:#f74848;
    --bs-primary-dark:#f17008;
    --bs-primary-light: #d8aa85;
    --bs-primary-shadow: rgba(0, 136, 204, 0.3);
    --bs-secondary:#341C00;
    --bs-secondary-dark: #150c01;
    --bs-gray-500: #f2f2f2;
    --bs-gray-500-thumb: #c2c2c2;
    --bs-success:#28a745;
    --bs-info:#17a2b8;
    --bs-warning:#ffc107;
    --bs-danger:#dc3545;
    --bs-light:#f8f9fa;
    --bs-dark:#343a40; /* sans-serif */
	--bs-font-family: 'Sarabun', sans-serif;
    --bs-font-sans-serif:"Montserrat",system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --bs-font-monospace:SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
    --bs-font-default: "Rubik", sans-serif;
    --bs-font-title-text: "Rubik", sans-serif;
    --bs-font-awesome: "FontAwesome";
    --bs-gradient:linear-gradient(180deg,rgba(255,255,255,0.15),rgba(255,255,255,0));
    --bs-gradient-image:linear-gradient(180deg,rgba(255,255,255,0.15),rgba(255,255,255,0));
    --bs-shadow: 2px 5px 20px rgba(0, 0, 0, .2);
    --bs-radius-defualt: 0.1875rem;
    --bs-theme-radius: 40% 60% 45% 55%/71% 67% 33% 29%;
    --bs-theme-radius-reverse: 72% 28% 56% 44%/29% 37% 63% 71%;
    --bs-transition: all .35s cubic-bezier(.645,.045,.355,1);
    --bs-transition-slow: all .55s cubic-bezier(.645,.045,.355,1);
    --bs-transition-very-slow: all .75s cubic-bezier(.645,.045,.355,1);
}